<a href="https://colab.research.google.com/github/fahd-sherif/ITI/blob/main/Lab_1_(ITI).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
# Q1

num1=3
num2=4
num3=5
print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

#change the variables
fnum1=float(num1)
fnum2=float(num2)
fnum3=float(num3)
print(fnum1+fnum2)
print(fnum3-fnum1)
print(fnum1*fnum2+fnum3)
print(fnum1*(fnum2+fnum3))
print(fnum3/fnum1)
print(fnum3//fnum1)
print(fnum3%fnum1)

7
2
17
27
1.6666666666666667
1
2
7.0
2.0
17.0
27.0
1.6666666666666667
1.0
2.0

In [95]:
# Q2

x=1
y=2
z=3
g=4

print(x+y*z/g)
print(y**z)

2.5
8

In [112]:
# Q3

str_a="python"
str_b="is a"
str_c="times fun language"
num=1000
st_num=str(num)
str_ab=str_a + str_b +" "+ st_num +" "+ str_c
print(str_ab)
str_a10=str_a*10
print(str_a10)

pythonis a 1000 times fun language
pythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [119]:
import math
# Q4

num_1=-5
num_2=3.2
num_3=5.7
num_4=625

print(abs(num_1))
print(round(num_2))
print(round(num_3))
print(math.sqrt(num_4))

5
3
6
25.0

In [125]:
# Q5
num1=int(input("enter the num1"))
num2=int(input("enter the num2"))
operation=str(input("choose the operation ex: (+ , - , * , / , %)"))

if operation=="+":
  print(num1+num2)
elif operation=="-":
  print(num1-num2)
elif operation=="*":
    print(num1*num2)
elif operation=="/":
  print(num1/num2)
elif operation=="%":
  print(num1%num2)
else:
  print("error")

enter the num155
enter the num220
choose the operation ex: (+ , - , * , / , %)-
35

In [97]:
#odd or even

num=int(input("enter the num"))
if num%2==0:
  print("the num is even")
else:
  print("the num is odd")

enter the num5
the num is odd

In [98]:
#pass or fail

degree=int(input("enter the degree (0-100)"))
if degree>=50:
  print("pass")
else:
  print("fail")

enter the degree (0-100)55
pass

In [102]:
#largest of 3 nums

num1=int(input("enter the num1"))
num2=int(input("enter the num2"))
num3=int(input("enter the num3"))

if num1>= num2 and num1 >= num3:
  larg=num1
elif num2 >= num1 and num2 >= num3:
  larg=num2
else:
  larg=num3
print("the largest num is ",larg)

enter the num115
enter the num210
enter the num330
the largest num is  30

In [105]:
#counting with for

for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [128]:
#grade calculator

score=int(input("enter the score"))

if score >=90 and score<=100:
  print("A")
elif score>= 80 and score<=89:
  print("B")
elif score>= 70 and score<=79:
  print("C")
elif score>= 60 and score<=69:
  print("D")
else:
  print("F")

enter the score60
D

In [132]:
#multiplication table

num=int(input("enter the num"))
for i in range(1,11):
  print(i*num)

enter the num3
3
6
9
12
15
18
21
24
27
30

In [136]:
#sum of even number
sum=0
for i in range(1,51):
  if i%2==0:
    sum+=i
print(sum)

650

In [138]:
#factorial with while

num=int(input("enter the num"))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("the factorial of", num, "is:",factorial)

enter the num10
the factorial of 10 is: 3628800